{% extends "pack_base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}Pack Utils{% endblock %}</title>
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}
{% load staticfiles %}
	<body>		
			{% block content %}
				<div class="container">
					<br />	
				{% for name, app in apps.items %}
					<a href="{{ app }}" class="btn btn-success btn-lg btn-block">{{ name }}</a>
				{% endfor %}
				</div>	
			{% endblock %}
		</div>
	</body>
</html>
